<html>
<head>
    <title>Spotify API test</title>
</head>
<body>
    <h1>Guest Page</h1>
    <form action="/submit-playlist-for-modifications" method="get">
                <p>Have you ever wanted to only have happy songs in your playlist? Enter a happiness value between 0-1 and one of your
                    playlist names (case sensitive). Only songs that are above that happiness level will be added to your playlist!</p>
                <input style="width: 250px;" type="text" placeholder="Your playlist name" name="playlistName" />
                <input style="width: 200px;" type="number" min="0" max="1" step="0.001" placeholder="Happiness level (0-1)" name="valenceLevel" />
                <input type="submit" value="Submit">
    </form>
</body>
</html>